.wrapper {
    /* position: relative;
    justify-content: center;
    text-align: justify; */
    float: right;
    width: 70%;
    /* padding-top: 50px; */
    margin-top: 50px;
    text-align-last: center;
}

.modals{
   
    justify-content: center; 
    display: flex; 
    margin: 0 auto; width: 230px;

}












